{
  "extends": [
    "plugin:prettier/recommended"
    // Enables eslint-plugin-prettier and displays prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "arrow-body-style": "error",
    "arrow-parens": [
      "error",
      "always"
    ],
    "brace-style": "error",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "complexity": "off",
    "curly": "error",
    "default-case": "off",
    "dot-notation": "error",
    "eol-last": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "jsdoc/require-jsdoc": "off",
    "key-spacing": "error",
    "keyword-spacing": "error",
    "max-classes-per-file": "off",
    "new-parens": "error",
    "no-bitwise": "off",
    "no-caller": "error",
    "no-eval": "error",
    "no-fallthrough": "off",
    "no-invalid-this": "off",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-new-wrappers": "error",
    "no-param-reassign": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef-init": "error",
    "no-unused-expressions": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "one-var": [
      "error",
      "never"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "next": "return",
        "prev": "*"
      },
      {
        "blankLine": "always",
        "next": "*",
        "prev": [
          "const",
          "let",
          "var"
        ]
      },
      {
        "blankLine": "any",
        "next": [
          "const",
          "let",
          "var"
        ],
        "prev": [
          "const",
          "let",
          "var"
        ]
      }
    ],
    "prefer-const": "error",
    "prefer-object-spread": "error",
    "quote-props": [
      "error",
      "consistent-as-needed"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "radix": "off",
    "sort-keys": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "asyncArrow": "always",
        "named": "never"
      }
    ],
    "space-in-parens": "error",
    "spaced-comment": [
      "error",
      "always"
    ]
  }
}
