.guide {
  position: relative;
  display: flex;
  flex-flow: row;
  height: 0;
  overflow: visible;
}

.guide-board {
  & + & {
    margin-left: 12px;
  }
}

.guide-button {
  position: relative;
  padding: 0 4px;
  border: 0;
  background-color: $fill-med;
  border-radius: 3px;
  z-index: 10;
}

.guide-item {
  position: absolute;
  background: $highlight;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translate(-100%, 0);
  transition: transform .3s;

  .active & {
    transform: translate(0, 0);
  }
}
