.f-high {
    fill: $highlight;
}

.f-light {
    fill: $fill-light;
}

.f-med {
    fill: $fill-med;
}

.f-dark {
    fill: $fill-dark;
}

.f-black {
    fill: $fill-black;
}

.s-high {
    stroke: $highlight;
}

.s-light {
    stroke: $fill-light;
}

.s-med {
    stroke: $fill-med;
}

.s-dark {
    stroke: $fill-dark;
}

.s-black {
    stroke: $fill-black;
}

.s-anim {
    fill: none;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

svg > g {
    pointer-events: none;
}
