<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alt thing</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
</head>
<body>
<div class="guide">
    <%= require('./parts/guide--tutorial.html') %>
    <%= require('./parts/guide--overlay.html') %>
</div>
<div class="board">
    <img src="app/assets/svg/sneakpeek.svg"/>
</div>
<%= require('./parts/app--letters.html') %>
</body>
</html>
